/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
/* End of Reset */
/* Start of Custom Styles */

body{
	font-family: 'Josefin Slab', serif;
	font-size: 16px;
}
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #2A3343;
}

a:active {
    text-decoration: underline;
}
h1{
font-size: 1.75em;
letter-spacing: .25em;
font-weight: 200;
color: black;
}
h2{
font-size: 1.33em;
letter-spacing: .1em;
font-weight: 500;
}
h4{
margin-top: .33em;
font-size: .7em;
letter-spacing: .1em;
font-weight: 500;
color: black;
margin-bottom: .33em;

}

.top-navigation{
	width: 100%;
	height: 2em;
	min-width: 24em;
	margin-top: .25em;
	margin-bottom: .25em;
	padding: .25em;
	text-align: center;
	overflow: hidden;
	background-color: #BBAFC5;
	font-size: 1.75em;
}
.top-navigation .links li{
    display: inline-block;
    margin-top: .3em;
    margin-left: .25em;
    margin-right: .25em;
    color: black;
}
.sidebar{
	width: 8.6em;
	height: 40em;
	padding: .15em;
	float: left;
	margin-top: .25em;
	margin-right: .25em;
	background-color: #EDBBB3;
	line-height: 2em;
	font-weight: 600;
}
.accolades{
	text-align: center;
	font-variant: bold;
}
.links{
	text-align: center;
	}

.coolinks{
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: .9em;
}

.social li {
	display: inline-block;
	padding-top: 3em;
	color: #2A3343;
}

.bricks{
	float: left;
	width: 82%;
	min-width: 36em;
}
.brick1{
	float: left;
	width: 39%;
	height: 7.5em;
	margin-top: .25em;
	margin-bottom: .25em;
	overflow: hidden;
	display: inline-block;
	background-color: #5D9BD7;
	background-image: url("../img/Home.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}

.brick2{
	float: right;
	width: auto;
	height: 7.5em;
	min-width: 59%;
	margin-top: .25em;
	margin-bottom: .25em;
	padding: 1em;
	overflow: hidden;
	display: inline-block;
	background-color: #E1E9F6;
}
.brick3{
	width: 49.5%;
	height: 7.5em;
	margin-top: .25em;
	margin-bottom: .25em;
	overflow: hidden;
	display: inline-block;
	background-image: url("../img/Discover.jpg");
    background-size: auto;
    background-position: 30% 20%; 
}
.brick4{
	min-width: 49.5%;
	width: auto;
	height: 7.5em;
	padding: 1em;
	display: inline-block;
	overflow: hidden;
	background-color: #BBAFC5;
}
.brick5{
	float: left;
	width: 40%;
	height: 7.5em;
	margin-top: .25em;
	margin-bottom: .25em;
	overflow: hidden;
	display: inline-block;
	background-color: #E1E9F6;
	background-image: url("../img/Develop.jpg");
    background-size: auto;
    background-position: 30% 20%; 
}
.brick6{
	float: right;
	width: auto;
	height: 7.5em;
	min-width: 59%;
	margin-top: .25em;
	margin-bottom: .25em;
	padding: 1em;
	overflow: hidden;
	display: inline-block;
	background-color: #2A3343;
	color: white;
}
.brick7{
	float: left;
	width: 39%;
	height: 7.5em;
	margin-top: .25em;
	margin-bottom: .25em;
	overflow: hidden;
	display: inline-block;
 	background-image: url("../img/Make.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 30% 20%;
}

.brick8{
	float: right;
	width: auto;
	height: 7.5em;
	min-width: 59%;
	margin-top: .25em;
	margin-bottom: .25em;
	padding: 1em;
	overflow: hidden;
	display: inline-block;
	background-color: #E1E9F6;
}
.brick9{
	width: 49.5%;
	height: 7.5em;
	margin-top: .25em;
	margin-bottom: .25em;
	overflow: hidden;
	display: inline-block;
	background-color: #E1C7B2;
	background-image: url("../img/About.jpg");
    background-size: auto;
    background-position: 10% 20%;
}
.brick10{
	min-width: 49.5%;
	width: auto;
	height: 7.5em;
	padding: 1em;
	display: inline-block;
	overflow: hidden;
	background-color: #BBAFC5;
}
.content{
	margin-top: .25em;
	font-size: 1em;
}
.contentwhite{
	margin-top: .25em
	font-size: 1em;
	color: white;
}
@media screen and (max-width: 787px){
.sidebar{ 
	 	display: none;
    }
.top-navigation{
	width: 100%;
	height: 1.65em;
	margin-top: .25em;
	margin-bottom: .25em;
	padding: .25em;
	text-align: center;
	overflow: hidden;
	background-color: #BBAFC5;
	font-size: 1.15em;
}
.bricks{
	float: left;
	width: auto;
}

/**
About Me Masthead
 */
.masthead {
  background-image: url('http://i1382.photobucket.com/albums/ah277/Nick_Castaneda/keep_zpsaff577f9.jpg');
  
  background-size: cover;
}
.masthead {
    padding: 6em 0;
}
